[submodule "ml_module_01"]
	path = ml_module_01
	url = https://github.com/madvid/ml_module_01.git
[submodule "ml_module_00"]
	path = ml_module_00
	url = https://github.com/madvid/ml_module_00.git
[submodule "ml_module_02"]
	path = ml_module_02
	url = git@github.com:madvid/ml_module_02.git
[submodule "ml_module_03"]
	path = ml_module_03
	url = git@github.com:madvid/ml_module_03.git
[submodule "ml_module_04"]
	path = ml_module_04
	url = git@github.com:madvid/ml_module_04.git
